@model Taxi.Models.Calls

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Calls</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateAndTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateAndTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DstinationNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DstinationNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Car)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Car.Carsid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Callsid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
